.name-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh 6vw;
  height: auto;
  background: linear-gradient(to bottom right, #ff6b6b, #4c9cff);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  border-radius: 20px;
}

#label-text {
  font-size: 30px;
  margin-bottom: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

@keyframes colorChange {
  0% { color: #333333; }      
  50% { color: #715bb8; }    
  100% { color: #333333; }     
}

#input-field {
  width: 100%; 
  height: 5vh;
  border: none;
  margin-top: 10px;
  border-radius: 2px;
  font-size: 18px;
  background-color: #f4f4f4;
  color: #333333;
  animation: colorChange 3s infinite;
}


#enter-button {
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  background-color: #ff6b6b;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  width: 357px;
  margin-left: 3px  ;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


#enter-button:hover {
  background-color: #f39c93;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .name-section {
    padding: 8vh 4vw;
  }

  .label-text {
    font-size: 24px;
  }

  .input-field,
  #enter-button {
    font-size: 16px;
    width: 229px;
  }
}
